* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
h5 {
  font-size: 0.75rem;
  text-transform: capitalize;
}
/* LOGIN SECTION */
#login {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./images/back.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.logo {
  width: 20%;
}
.login_header,
.form h5 {
  text-align: center;
}
.login_header {
  margin: 2rem 0;
}
.form {
  background: #01012e;
  border-radius: 5px;
  width: 50%;
  padding: 2%;
  margin: 4rem 0;
}
.form .logo {
  width: 50%;
}
form label,
input {
  display: block;
  margin: 2% 0;
  width: 100%;
  padding: 1% 0;
  border: none;
  font-size: 1rem;
}
form label {
  font-weight: 500;
}
.login_input {
  background-color: rgba(0, 0, 0, 0.127);
  padding: 1rem;
  border: 2px solid #f2f2f221;
  margin-bottom: 1.5rem;
  color: #fff;
}
.submit_login {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 0;
  font-weight: 700;
  color: #fff;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loading img {
  width: 40%;
  height: 20vh;
  object-fit: cover;
}
nav {
  width: 70%;
  position: fixed;
  right: 0;
  background: #f6fbf4;
  box-shadow: 0 1px 10px #cdc2ae;
  padding: 2%;
  display: grid;
  grid-template-columns: 0.7fr 0.2fr;
  align-items: center;
}
nav div {
  justify-content: center;
  text-align: center;
}
.menu_icon,
.close_sidebar {
  display: none;
}
.aside {
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  background: #4700d8;
  padding: 3% 0;
  height: 100vh;
}
.cart_cont {
  font-size: 1.5rem;
  color: #0000ff;
  position: relative;
}
.cart_amount {
  position: absolute;
  background: #0000ff;
  color: #fff;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  right: 30%;
  top: -30%;
}
.user_profile {
  text-align: center;
}
.user_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}
.user_name {
  text-transform: capitalize;
  color: #fff;
}
.dash_items {
  margin: 1rem 2rem;
  color: #b7cadb;
  cursor: pointer;
}
.item_cont {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  align-items: center;
}
.dash_icons {
  font-size: 1.2rem;
}
.cart_items_cont {
  margin-left: 10%;
}
.cart_items_cont h5 {
  margin: 1rem 0;
}
/* MAIN */
#main_id {
  width: 90%;
  margin: 0 auto;
}
.main {
  width: 70%;
  margin-left: auto;
  padding-top: 8%;
  background: #eeeeee6e;
}
.product_header {
  background: #fff;
  padding: 1rem;
  text-align: center;
}
.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
}
.product {
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  display: grid;
}
.product_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cart_add {
  width: 100%;
  background-color: #4700d8;
  border: none;
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.cart_add:hover {
  background-color: #0000ff;
  transform: scale(0.9);
}
.price {
  color: #0000ff;
}
.title {
  font-size: 0.9rem;
}
.product h3,
p {
  padding: 0.5rem;
}
.product p {
  font-size: 0.75rem;
}
.cart_icon {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.qty {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.qty_item {
  background: #dddddd;
}
